
@{
    ViewData["Title"] = "ThankYou";
}

<div class="jumbotron text-center">
  <h1 class="display-3">Thank You for Shopping!</h1>
  <hr>
  
  <p class="lead">
    <a class="btn btn-primary btn-sm" asp-controller="Foods" asp-action="Index" role="button">Continue Shopping</a>
  </p>
</div>

